/* styles.css */
/* Reset all attributes */
* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    /*list-style: none;*/
    border: 0;
}

/* Contents of an HTML document */

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
input{
    border: 1px solid #929291;
}
/* Introductory or navigational support group */

header {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    color: white;
    width: 100%;
    position: fixed;
    gap: 2vh;
}

/* All logos */

.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Logo and p */

.logo p {
    /* Consider alternative positioning methods */
     margin-top: -10%; 
     margin-left: 55%; 
    font-size: x-small;
}

/* Color logo */

.white {
    color: white;
}

/* Color logo */

.red {
    color: red;
}

/* Class logo */

.logo {
    color: aliceblue;
}

nav {
    /* Align navigation to the right */
    /* margin-left: auto; */
    margin-left: auto;
    margin-right: 0;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: rgb(250, 248, 248);
}

li {
    margin: 10px;
}

.slider {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 170px;
}

.slider img {
    width: 350px;
    height: 300px;
    margin-top: 80px;
    margin-left: 5%;
}

img {
    margin: 9px;
}

#container,
#container-ponto 
{
    margin: 5%;
    margin-bottom: 20%;
}
#view{
max-width: 100%;
}

table {
    width: 100%;
}

th,
td {
    padding: 5px;
    margin: 15px;
    
}
main{
   height: 80vh; 
}

#footer {
    background-color: black;
    color: white;
    width: 100%;
    
    
   
    
}


.footer-info,
.builder-info {
    text-align: left;
    margin-top: 10px;
}

/* Devices min */
@media screen and (max-width: 768px) {
    html {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    html {
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem;
    }
}

